# Ignore public directory
public

# Ignore specific files and directories
.DS_Store
.github/CODEOWNERS
.gitignore
.node-version
LICENSE
pnpm-lock.yaml
public/mockServiceWorker.js
.venv
.prettierignore

# Ignore all binary files and directories that Prettier should not format
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.pdf
*.svg
*.webp
*.woff
*.woff2
*.ttf
*.eot
*.zip
*.gz
*.tar
*.7z
*.exe
*.dll
*.class
*.jar
*.so
*.dylib
*.bin
*.pyc
*.pyo
*.exe
*.o
*.obj
*.lib
*.a
*.out
*.log
*.lock
*.csv
*.tsv
*.xlsx
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlt
*.xlsb
*.xlsm
*.json
*.yml
*.yaml
*.sh
*.md

# Ignore specific code and configuration files
globals.css
*.scss
*.py
*.txt
*.toml
